#content {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 100px;

    border: 1px solid gray;
}

.dark {
    color: white;
    background-color: #1e1e1e;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.2em;
    font-weight: 500;
}

h2 {
    font-size: 1em;
    font-weight: 100;
    color: #006EB6;
}

.dark-h2 {
    color: #24A7FF
}

li {
    margin: 16px 0;
}

#logo {
    text-align: center;
    margin-top: 40px;
}

img {
    width: 20%;
}